body{
     background-color: #EAF6F6;
     }

hr{
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
    opacity: 0.3;
    }

img{
    height: 200px;
    }

h1{
    color: #66BFBF;
    font-family: "Lucida Handwriting";
    font-size: 48px

}

h3{
    color: #F76B8A;
    font-family: "Courier New";
    font-size: 20px;

}


.dropbtn {
  background-color: #EAF6F6; /*#04AA6D*/
  font-family: "Tahoma";
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-family: "Tahoma";
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #EAF6F6;}



